/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  /* Added */
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}



#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

.star i,
.trash-icon i{
  cursor: pointer;
}

.trash-icon:hover i {
  color: crimson;
}

.fa-solid{
  color: orange;   
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  /* Added */
  font-size: 0.85rem;
  color: green;
  padding: 6px 0;
}

.story-user {
  display: block;
  /* Added */
  margin-left: 2em;
  font-size: 0.85rem;
  color: orangered;
}
